* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #1c4d46;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav:hover{
    background-color: rgb(76, 131, 199);
}
nav ul {
    
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(245, 239, 239);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #23363d;
    margin: 50px 0;
}

table {
    width: 90%;
    margin: 60px auto;
    border-collapse: collapse;
}

thead {
    background-color: #104843;
    color: rgb(241, 236, 236);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #86cfe1;
}

.delete-link {
    color: red;
    text-decoration: none;
    font-style: italic;
}